include README.md
include LICENSE
include CMakeLists.txt
include setup.py
include pyproject.toml
include _custom_build.py
include demo-main.py
include .gitignore
recursive-include src *.py
recursive-include include *.h *.hpp
recursive-include python-bindings *
recursive-include libs *
exclude libs/*/build*
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
global-exclude *.dylib
global-exclude *.dll
global-exclude .DS_Store
